<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Performances</title>
</head>
<body>
<nav>
    <span>|&nbsp;&nbsp;<a href="/">Home</a></span>
    <span>|&nbsp;&nbsp;<a href="/booking">Booking</a></span>
    <span>|&nbsp;&nbsp;<a href="/performances">Performances</a></span>
    <span>|&nbsp;&nbsp;<a href="/reports">Reports</a>&nbsp;&nbsp;|</span>
</nav>
<h1>All performances</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
    </tr>
    <tr th:each="performance : ${performances}">
        <td th:text="${performance.id}">id</td>
        <td th:text="${performance.title}">title</td>
    </tr>
</table>
<a href="/performances/add">Add a performance</a>
</body>
</html>